.slide-2 {

    background-image: url('../images/背景.jpg');
    .item-thisone {
        width: auto;
        height: 13rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 18rem;
        left: 1rem;
        right: 8rem;
        margin: auto;
        background-image: url('../images/这一位.jpg');
    }
    .item-dashengguilai {
        width: auto;
        height: 13rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 11rem;
        left: 10rem;
        right: 1rem;
        margin: auto;
        background-image: url('../images/大圣归来.jpg');
    }
    .item-wowufa {
        height: 12rem;
        width: auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;          
        bottom: 2rem;
        left: 7rem;
        right: 1rem;
        margin: auto;
        background-image: url('../images/我无法.jpg');
    }
    .item-yuandian {
        width: auto;
        height: 3rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 1rem;
        left: 8rem;
        right: 8rem;
        margin: auto;
        background-image: url('../images/原点.jpg');
    }
    .item-guangtou{
        width: auto;
        height: 3rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 2rem;
        left: 8rem;
        right: 8rem;
        margin: auto;
        background-image: url('../images/光头.jpg');
    }
    .item-text {
        width: 18rem;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 24rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

}
