.slide-10 {

    .item-1{		
		top: 28.1%;
		left: 62.7%;
		position: fixed;
		font-size: 230%;
	}
	.item-2{
		top: 63.3%;
		left: 25.9%;
		position: fixed;
	}
	.item-3{		
		top: 72.7%;
		left: 64.2%;
		position: fixed;
	}
	.item-4{
		background-image: url('../images/10/4.png');
	}
	span{
		width: 100%;
        height: auto;
        color: #cf000d;
	    font-size: 220%;
	    font-stretch: ultra-condensed;
	    font-weight: bold;
	    font-family:DIY;
	}
}
