.slide-8 {

	.item-1{		
		background-image: url('../images/8/1.png');
	}
	.item-2{
		background-image: url('../images/8/2.png');
	}
	.item-3{		
		background-image: url('../images/8/3.png');
	}
	.item-4{
		background-image: url('../images/8/4.png');
	}
}
