.slide-4 {

    background-image: url('../images/common/background.jpg');
	.item-1{		
		background-image: url('../images/4/1.png');
	}
	.item-1-5{		
		background-image: url('../images/4/1-5.png');
	}

	.item-2{
		background-image: url('../images/4/2.png');
	}
	.item-span {
		width: 100%;
        height: 100%;
        color: #fff;
	    font-size: 450%;
	    font-stretch: ultra-condensed;
	    font-weight: bold;
	    font-family:DIY;
	}
	.item-span span{
	    top: 32%;
	     color: #fff;
	    font-stretch: ultra-condensed;
	    font-weight: bold;
	    font-family:DIY;
	}
	.item-text-howlong-1 {
        left: 27.5%;
        position: fixed;
    }
    .item-text-howlong-2 {
        left: 40.4%;
        position: fixed;
    }
    .item-text-howlong-3 {
        left: 53.4%;
        position: fixed;
    }
    .item-text-howlong-4 {
        left: 67%;
        position: fixed;
    }
    .item-text-howlong-5-1 {
        left: 20%;
        position: fixed;
    }
    .item-text-howlong-5-2 {

        left: 33%;
        position: fixed;
    }
    .item-text-howlong-5-3 {
        top: 32%;
        left: 46%;
        position: fixed;
    }
    .item-text-howlong-5-4 {
        top: 32%;
        left: 59%;
        position: fixed;
    }
    .item-text-howlong-5-5 {
        top: 32%;
        left: 72%;
        position: fixed;
    }
    .item-text-beat {
        color: #cf000d;
        font-size: 2.4rem;
        font-weight: bold;
        font-family:DIY;
        top: 62%;
        left: 42.5%;
        position: fixed;
        text-align: center;
    }
}
