.slide-7 {

    background-image: url('../images/common/background.jpg');
	.item-1{		
		background-image: url('../images/7/1.png');
	}
	.item-2{
		background-image: url('../images/7/2.png');
	}
	.item-3{		
		background-image: url('../images/7/3.png');
	}
}
