.slide-10 {

	.item-1{		
		background-image: url('../images/10/1.png');
	}
	.item-2{
		background-image: url('../images/10/2.png');	
	}
	.item-3{		
		background-image: url('../images/10/3.png');
	}
	.item-4{
		background-image: url('../images/10/4.png');
	}
	.item-5{
		background-image: url('../images/10/5.png');
	}
	span{
		width: 100%;
        height: auto;
        color: #cf000d;
	    font-size: 220%;
	    font-stretch: ultra-condensed;
	    font-weight: bold;
	    font-family:DIY;
	}
}
