.slide-9 {

	.item-1{		
		background-image: url('../images/9/1.png');
	}
	.item-2{
		top: 30.6%;
		left: 14.6%;
		position: fixed;	
	}
	.item-3{		
		top: 49.6%;
		left: 46.5%;
		position: fixed;
	}
	.item-4{
		top: 65.6%;
		left: 27.4%;
		position: fixed;
	}
	span{
		width: 100%;
        height: auto;
        color: #cf000d;
	    font-size: 230%;
	    font-stretch: ultra-condensed;
	    font-weight: bold;
	    font-family:DIY;
	}
}
