.slide-7 {

	.item-1{	
		background-image: url('../images/7/1.png');
	}
	.item-2-1{
		display: none;
		background-image: url('../images/7/2-1.png');
	}
	.item-2-2{
		display: none;
		background-image: url('../images/7/2-2.png');
	}
	.item-2-3{
		display: none;
		background-image: url('../images/7/2-3.png');
	}
	.item-2-4{
		display: none;
		background-image: url('../images/7/2-4.png');
	}
	.item-2-5{
		display: none;
		background-image: url('../images/7/2-5.png');
	}
	
	.item-2{
		width:12%;
		top: 33.9%;
		left: 12.0%;
		position: fixed;	
	}
	.item-3{
		width:12%;		
		top: 73.4%;
		left: 59.5%;
		position: fixed;
	}
	.item-4{	
		top:-9%;
		background-image: url('../images/7/4.png');
	}
	.item-5{	
		top:-6%;
		background-image: url('../images/7/5.png');
	}
	
	span{
		width: 100%;
        height: auto;
        color: #cf000d;
	    font-size: 210%;
	    font-stretch: ultra-condensed;
	    font-weight: bold;
	    font-family:DIY;
	    text-align:right;
	}
}
