.slide-1 {
     background-image: url('../images/one/background.jpg');

    .item-beat {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position:fixed;
        top:0;
        left:0;
        background-image: url('../images/one/beat.png');
    }

    .item-howlong{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position:fixed;
        top:0;
        left:0;
        background-image: url('../images/one/howlong.png');
    }

    .item-line{
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position:fixed;
      top:0;
      left:0;
      background-image: url('../images/one/line.png');
    }

    .item-howlong span{
      color: #fff;
      font-family:DIY;
      font-size: 100%;
      line-height:100%;
      text-align:center;
      position:fixed;
      top:32.9%;
      width:12.7%;
      height:11%;
      background-size:40.4% 71.3%;
    }

    .offset1{
      left:21.7%;
    }

    .offset2{
      left: 36.4%;
    }
    .offset3{
      left: 51.25%;
    }
    .offset4{
      left: 65.92%;
    }

    .item-text-beat {
        color: #cf000d;
        font-size: 2.4rem;
        font-weight: bold;
        font-family:DIY;
        top: 61%;
        left: 42.5%;
        position: absolute;
        text-align: center;
    }
}
