.slide-6 {

    background-image: url('../images/common/background.jpg');
	.item-1{		
		background-image: url('../images/6/1.png');
	}
	.item-2{
		background-image: url('../images/6/2.png');
	}
	.item-3{		
		background-image: url('../images/6/3.png');
	}
}
