.slide-5 {

	.item-1{
		background-image: url('../images/5/1.png');
		animation-iteration-count:3;
	}
	.item-2{
		background-image: url('../images/5/2.png');
	}
	.item-birthplace{
		width:100%;
		text-align:center;
		top: 29.3%;
		left: 0%;
		font-size: 130%;
		position: fixed;
		font-family:黑体;
	}
	.item-villagers{
		width:15%;
		text-align:center;
		top: 33.8%;
		left: 40%;
		font-size: 170%;
		position: fixed;
		font-family:DIY;
	}

	span {
		width: 100%;
        height: 100%;
        color: red;
	    font-stretch: ultra-condensed;
	    font-weight: bold;

	}

}
