.slide-6 {

	.item-1{	
		background-image: url('../images/6/1.png');
	}
	.item-1-1{	
		display: none; 
		background-image: url('../images/6/1-1.png');
	}
	.item-1-2{	
		display: none; 
		background-image: url('../images/6/1-2.png');
	}
	.item-2{
		width:12%;
		top: 37.0%;
		left: 55.3%;
		position: absolute;
	}
	.item-3{	
		width:12%;	
		top: 64.5%;
		left: 51.8%;
		right:100%;
		position: absolute;
	}
	span{
		width: 100%;
        height: auto;
        color: #cf000d;
	    font-size: 220%;
	    font-stretch: ultra-condensed;
	    font-weight: bold;
	    font-family:DIY;
	    text-align:center;
	}
}
