.white-number-1 {
  background: url('../images/white-1.png') no-repeat center;
}
.white-number-2 {
  background: url('../images/white-2.png') no-repeat center;
}
.white-number-3 {
  background: url('../images/white-3.png') no-repeat center;
}
.white-number-4 {
  background: url('../images/white-4.png') no-repeat center;
}

.white-number-8 {
  background: url('../images/white-8.png') no-repeat center;
}
